.header__title p{
    background-color: aqua;
    font-size: 24px;
    font-weight: 5000;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.col-3-cs{
    height: 100%;
    border-right: 1px solid #333;
}
.col-3-cs p{
    border: 1px solid #333;
    margin-bottom: 0;
    padding: 20px;
}

.col-3-cs p:hover{
    cursor: pointer;
    background-color: #d1d1d1;
}
.account__manager{

}
.account__manager-title{
    border: 1px solid #333;
}

.post__manager-QB{

    padding-top: 10px;
    padding-bottom: 10px;
}

.p_style{
color:#000;
text-decoration: none;
}