<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Forum Language</title>
    <link rel="icon" th:href="@{/img/F.png}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/font/fontawesome-free-6.4.0-web/css/all.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="app">
    <div class="header">
        <div class="grid">
            <div class="header__nav-top">
                <nav class="header__nav">
                    <ul class="header__nav-list">

                        <li class="header__nav-list-img header__nav-list-item--cursor ">
                            <img src="./img/F.png" class="header__logo-img"></img>

                        </li>
                        <li class="header__nav-list-name header__nav-list-item--cursor ">
                            <h2 class="header__nav-list-title"><a class="header__nav-list-title" th:href="@{/Home}"> FORUM LANGUAGES</a></h2>
                        </li>

                    </ul>
                    <ul class="header__nav-list header__nav-list-flex">
                        <form id="search" th:action="@{/Search}" method="get">
                        <div class="header__nav-search">
                            <i class="fa-solid fa-magnifying-glass header__nav-search-icon"></i>
                            <input  id="inputField" name="title" onkeydown="checkEnter(event)" type="text" placeholder="Search Post" class="header__nav-list-search">
                        </div>
                        </form>
                    </ul>
                    <ul class="header__nav-list">
                        <form th:action="@{/Post}" method="Get">
                        <button class="header__nav-list-post header__nav-list-item--cursor">
                            <i class="fa-regular fa-add header__nav-post-icon"></i>
                            <span>Create</span>
                        </button>
                        </form>

                        <li class="header__nav-list-bell header__nav-list-item--cursor">

                            <i class="header__nav-icon fa-regular fa-bell"></i>
                        </li>
                        <li class="header__nav-list-account" th:if="${userIn}">
                            <img src="./img/F.png" class="header__account-avatar header__nav-list-account header__nav-icon" alt="">
                            <ul class="header__account-list header__nav-list-item--cursor">
                                <Form th:action="@{/User}" th:object="${UserDto}" method="get">
                                <li class="header__account-list-item">
                                    <input type="hidden" name="u" th:value="${UserDto.usernumber}">
                                    <i class="fa-regular fa-user header__account-icon"></i>
                                    <button class="header__account-item-link">View Profile</button>
                                </li>

                                </Form>
                                <li class="header__account-list-item">
                                    <i class="fa-regular fa-star header__account-icon"></i>
                                    <button class="header__account-item-link" type="button">Membership Account</button>
                                </li>
                                <form th:action="@{/Setting}" method="Get">
                                <li class="header__account-list-item">
                                    <i class="fa-solid fa-gear header__account-icon"></i>
                                    <button class="header__account-item-link" >Settings</button>
                                </li>
                                </form>
                                <div th:if="${userAdmin}">
                                    <form th:action="@{/Admin/Post}" method="get">
                                <li class="header__account-list-item">
                                    <i class="fa-regular fa-face-grin-stars header__account-icon"></i>
                                    <button class="header__account-item-link">Admin Manager</button>
                                </li>
                                    </form>
                                </div>
                                <li class="header__account-list-item">
                                    <i class="fa-regular fa-face-grin-stars header__account-icon"></i>
                                    <button class="header__account-item-link" type="button">Premium</button>
                                </li>
                                <form action="#" th:action="@{/logout}" method="POST">
                                <li class="header__account-list-item">

                                    <i class="fa-solid fa-right-from-bracket header__account-icon"></i>
                                    <button class="header__account-item-link" >Log Out</button>

                                </li>
                                </form>
                            </ul>
                        </li>

                        <li class="header__nav-button-list" th:unless="${userIn}">
                            <div class="header__nav-button-login">
                                <a th:href="@{http://localhost:8080/Login}" class="header__nav-button-login-title">Login</a>
                            </div>
                            <div class="header__nav-button-resign">
                                <a th:href="@{http://localhost:8080/Register}" class="header__nav-button-resign-title">Register</a>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="grid">
            <div class="grid__row-3">
                <nav class="container__nav">
                    <div class="container__nav-home">
                        <ul class="container__nav-list">
                            <form th:action="@{/Home}" method="GET">
                            <li class="container__nav-item">
                                <i class="container__nav-icon fa-solid fa-home"></i>
                                <button class="container__nav-title">Home</button>
                            </li>
                            </form>
                            <form th:action="@{/Sort}" method="get">
                            <li th:classappend="${languageCss == 'Popular'} ? 'active'" class="container__nav-item">
                                <input type="hidden" name="find" value="Popular">
                                <i class="container__nav-icon fa-solid fa-fire"></i>
                                <button class="container__nav-title">Popular</button>
                            </li>
                            </form>
                            <form th:action="@{/Sort}" method="get">
                                <li th:classappend="${languageCss == 'New'} ? 'active'" class="container__nav-item">
                                <input type="hidden" name="find" value="New">
                                <i class="container__nav-icon fa-solid fa-square-up-right"></i>
                                <button class="container__nav-title">New</button>
                            </li>
                            </form>
                        </ul>
                    </div>
                    <div class="container__nav-kind">
                        <span class="container__nav-title">
                            LANGUAGES
                        </span>
                        <ul class="container__nav-list">
                            <form th:action="@{/Kind}" method="get">
                            <li th:classappend="${languageCss == 'English'} ? 'active'" class="container__nav-item">
                                <input type="hidden" name="language" th:value="English">
                                <i class="container__nav-icon fa-solid fa-newspaper"></i>
                                <button class="container__nav-title">English</button>
                            </li>
                            </form>
                            <form th:action="@{/Kind}" method="get">
                                <li th:classappend="${languageCss == 'China'} ? 'active'" class="container__nav-item">
                                    <input type="hidden" name="language" th:value="China">
                                    <i class="container__nav-icon fa-solid fa-newspaper"></i>
                                    <button class="container__nav-title">China</button>
                                </li>
                            </form>
                            <form th:action="@{/Kind}" method="get">
                                <li th:classappend="${languageCss == 'Japan'} ? 'active'" class="container__nav-item">
                                    <input type="hidden" name="language" th:value="Japan">
                                    <i class="container__nav-icon fa-solid fa-newspaper"></i>
                                    <button class="container__nav-title">Japan</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                    <div class="container__nav-about">
                        <span class="container__nav-title">
                            Other
                        </span>
                        <ul class="container__nav-list">
                            <li class="container__nav-item">
                                <i class="container__nav-icon fa-solid fa-address-card"></i>
                                <span class="container__nav-title">About FL</span>
                            </li>
                            <li class="container__nav-item">
                                <i class="container__nav-icon fa-solid fa-flag"></i>
                                <span class="container__nav-title">Advertise</span>
                            </li>
                            <li class="container__nav-item">
                                <i class="container__nav-icon fa-solid fa-question"></i>
                                <span class="container__nav-title">Help</span>
                            </li>
                            <li class="container__nav-item">
                                <i class="container__nav-icon fa-solid fa-scroll"></i>
                                <span class="container__nav-title">Policy</span>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="container__nav-end">
                        <span class="container__nav-end">Forum Languages, Inc © 2024, All rights reserved</span>
                    </div>-->

                </nav>
            </div>
            <div class="grid__row-5">
                <div class="container__content">

                    <div th:each="posts : ${postList}">
                        <div class="likeload">
                    <form th:action="@{/Posts}" method="GET" class="postWatch">
                    <div class="container__content-post" >
                        <div class="container__post-list ">
                            <input type="hidden" name="p" th:value="${posts.postname}"/>
                            <div class="container__post-infor">
                                <div id="userWatch" th:data-user="${posts.usernumber}">
                                    <div loading="lazy" class="container__post-infor-item">
                                        <img class="container__infor-img" src="./img/F.png" alt="">
                                        <span class="container__infor-name" th:text="${posts.name}">Forum Language</span>
                                        <span> - </span>
                                        <span class="container__infor-time" th:text="${posts.timepost}">2 hours</span>
                                        <span> - </span>
                                        <span class="container__infor-language" th:text="${posts.language}">English</span>
                                    </div>
                                </div>
                                <div class="container__post-infor-item">
                                    <i class="container__infor-more fa-solid fa-ellipsis"></i>
                                </div>
                            </div>


                            <div class="container__post-header">
                                <span class="container__header-title"  th:text="${posts.title}">Help me</span>
                            </div>
                            <div class="container__post-content">
                                <span class="container__content-title" th:utext="${posts.content}">Renovating the restaurant will attract more customers.<br>
                                    A. Renovation <br>
                                    B. Renovating <br>
                                    C. Renovated <br>
                                    D. To renovating</span>
                            </div>


                        </div>
                    </div>
                    </form>
                            <div th:if="${userIn}">
                        <form class="likeForm" th:action="@{/like-post}" method="POST">
                            <input type="hidden" name="lp" th:value="${posts.postname}">
                        <div th:each="detail : ${postsDetailList}">
                            <div th:if="${detail.postname == posts.postname}">

                                    <div class="container__post-interact" th:with="isLiked=${postlike.contains(posts.postname)}">
                                    <div th:if="${isLiked}">
                                        <button class="container__interact-like likesubmit liked">
                                            <i class="container__interact-icon fa-solid fa-heart"></i>
                                            <span class="container__interact-number" th:text="${detail.likecount}">100</span>
                                        </button>
                                    </div>

                                    <div th:unless="${isLiked}">

                                        <button class="container__interact-like likesubmit">
                                            <i class="container__interact-icon fa-solid fa-heart"></i>
                                            <span class="container__interact-number" th:text="${detail.likecount}">100</span>
                                        </button>
                                    </div>
                                    <div class="container__interact-comment " th:data-post="${posts.postname}">
                                        <i class="container__interact-icon fa-solid fa-comment"></i>
                                        <span class="container__interact-number" th:Text="${detail.commentcount}">100</span>
                                    </div>
                                     <div class="container__interact-share">
                                          <i class="container__interact-icon fa-solid fa-share" ></i>

                                      </div>
                                        <div class="container__interact-share-link-find">
                                        <div class="container__interact-share-link">
                                           <span class="container__interact-s"  th:text="'http://localhost:8080/Posts?p=' + ${posts.postname}"></span>
                                            <div class="container__interact-s-coppy">Coppy</div>
                                        </div>
                                        </div>
                                </div>

                            </div>
                        </div>


                    </form>
                            </div>
                            <div th:unless="${userIn}">

                                <div th:each="detail : ${postsDetailList}">
                                    <div th:if="${detail.postname == posts.postname}">
                                        <div class="container__post-interact">
                                            <form class="likelogin" th:action="@{/Login}" method="get">
                                                <button class="container__interact-like">
                                                    <i class="container__interact-icon fa-solid fa-heart"></i>
                                                    <span class="container__interact-number" th:text="${detail.likecount}">100</span>
                                                </button>
                                            </form>
                                            <div class="container__interact-comment" th:data-post="${posts.postname}">
                                                <i class="container__interact-icon fa-solid fa-comment"></i>
                                                <span class="container__interact-number" th:Text="${detail.commentcount}">100</span>
                                            </div>
                                            <div class="container__interact-share">
                                                <i class="container__interact-icon fa-solid fa-share" ></i>

                                            </div>
                                            <div class="container__interact-share-link-find">
                                                <div class="container__interact-share-link">
                                                    <span class="container__interact-s"  th:text="'http://localhost:8080/Posts?p=' + ${posts.postname}"></span>
                                                    <div class="container__interact-s-coppy">Coppy</div>
                                                </div>
                                    </div>
                                    </div>
                                    </div>
                                </div>

                            </div>

                    </div>
                    </div>

                </div>
            </div>
        <!--    <div class="grid__row-4">
            <div class="container__top">
                    <div class="container__top-board">
                        <div class="container__board-list">
                            <div class="container__board-title">Top Point</div>
                            <div class="container__board-name">

                                <div class="container__name-title">
                                    <img class="container__name-img" src="./img/F.png" alt="">
                                    <span class="container__name-content">Nguyen Van A</span>
                                </div>

                                <div class="container__name-point">
                                    <span class="container__name-point-title">10000</span>
                                </div>
                            </div>

                            <div class="container__board-name">

                                <div class="container__name-title">
                                    <img class="container__name-img" src="./img/F.png" alt="">
                                    <span class="container__name-content">Nguyen Van A</span>
                                </div>

                                <div class="container__name-point">
                                    <span class="container__name-point-title">10000</span>
                                </div>
                            </div>

                            <div class="container__board-name">

                                <div class="container__name-title">
                                    <img class="container__name-img" src="./img/F.png" alt="">
                                    <span class="container__name-content">Nguyen Van A</span>
                                </div>

                                <div class="container__name-point">
                                    <span class="container__name-point-title">10000</span>
                                </div>
                            </div>
                            <div class="container__board-name">

                                <div class="container__name-title">
                                    <img class="container__name-img" src="./img/F.png" alt="">
                                    <span class="container__name-content">Nguyen Van A</span>
                                </div>

                                <div class="container__name-point">
                                    <span class="container__name-point-title">10000</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
</body>
<script>
    function submitLikeForm() {
        const form = document.querySelector('.likelogin');
        form.submit();
    }
    $(document).ready(function() {


     $('.likesubmit').click(function(event) {
         event.preventDefault();

         const likeButton = $(this).closest('.container__interact-like');
         const likeCountElement = likeButton.find('.container__interact-number');
         let likeCount = parseInt(likeCountElement.text());

             const defaultColor = '#e88989';
            const originalColor = '#ffffff';
         if (!likeButton.hasClass('liked')) {
             likeButton.addClass('liked');
             likeCount += 1;
                 likeButton.css('background-color',defaultColor  );
         } else {
             likeButton.removeClass('liked');
             likeCount -= 1;
                likeButton.css('background-color', originalColor);
         }


         likeCountElement.text(likeCount);

         $.ajax({
             type: "POST",
             url: $(this).closest('.likeForm').attr("action"),
             data: $(this).closest('.likeForm').serialize(),
             success: function(response) {
             },
             error: function(xhr, status, error) {
                 console.error(xhr.responseText);
             }
         });
     });
       $('.container__interact-comment').click(function() {
        const postname = $(this).data('post');
        const url = `/Posts?p=${postname}`;
        window.location.href = url;
    });
 });
    document.addEventListener('DOMContentLoaded', function() {

        var postContainers = document.querySelectorAll('.container__content-post');

        postContainers.forEach(function(postContainer) {
            postContainer.addEventListener('click', function() {
                var form = this.closest('form.postWatch');
                if (form) {
                    form.submit();
                }
            });
        });
    });



      document.addEventListener('DOMContentLoaded', function() {
          const postInforItems = document.querySelectorAll('.container__post-infor-item');
          postInforItems.forEach(function(postInfor) {
              postInfor.addEventListener('click', function(event) {
                  event.stopPropagation();
                  const userWatch = this.closest('.container__post-list').querySelector('#userWatch');
                  const usernumber = userWatch.getAttribute('data-user');
                  const url = `/User?u=${usernumber}`;
                  window.location.href = url;
              });
          });
      });


     document.addEventListener("DOMContentLoaded", function() {
        const shareButtons = document.querySelectorAll(".container__interact-share");
        const shareLinkFinds = document.querySelectorAll(".container__interact-share-link-find");
        const copyButtons = document.querySelectorAll(".container__interact-s-coppy");
        const textsToCopy = document.querySelectorAll(".container__interact-s");

        shareButtons.forEach((shareButton, index) => {
            const shareLinkFind = shareLinkFinds[index];
            shareButton.addEventListener("click", function(event) {
                if (shareLinkFind.style.display === "none" || !shareLinkFind.style.display) {
                    shareLinkFind.style.display = "block";
                } else {
                    shareLinkFind.style.display = "none";
                }
                event.stopPropagation();
            });
        });

        document.addEventListener("click", function() {
            shareLinkFinds.forEach(shareLinkFind => {
                shareLinkFind.style.display = "none";
            });
        });

        shareLinkFinds.forEach(shareLinkFind => {
            shareLinkFind.addEventListener("click", function(event) {
                event.stopPropagation();
            });
        });

        copyButtons.forEach((copyButton, index) => {
            const textToCopy = textsToCopy[index];
            copyButton.addEventListener("click", function() {
                const text = textToCopy.textContent;
                navigator.clipboard.writeText(text).then(function() {
                    console.log("Text copied to clipboard: ", text);
                }).catch(function(err) {
                    console.error("Could not copy text: ", err);
                });
            });
        });
    });
</script>
</html>
