<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Forum Language</title>
    <link rel="icon" href="./img/F.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/base.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./font/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

</head>
<body>
<div class="app">
    <div class="header">
        <div class="grid">
            <div class="header__nav-top">
                <nav class="header__nav">
                    <ul class="header__nav-list">

                        <li class="header__nav-list-img header__nav-list-item--cursor ">
                            <img src="./img/F.png" class="header__logo-img"></img>

                        </li>
                        <li class="header__nav-list-name header__nav-list-item--cursor ">
                            <h2 class="header__nav-list-title"><a class="header__nav-list-title" th:href="@{/Home}"> FORUM LANGUAGES</a></h2>
                        </li>

                    </ul>
                    <ul class="header__nav-list header__nav-list-flex">
                        <form id="search" th:action="@{/Search}" method="get">
                            <div class="header__nav-search">
                                <i class="fa-solid fa-magnifying-glass header__nav-search-icon"></i>
                                <input  id="inputField" name="title" onkeydown="checkEnter(event)" type="text" placeholder="Search Post" class="header__nav-list-search">
                            </div>
                        </form>
                    </ul>
                    <ul class="header__nav-list">
                        <form th:action="@{/Post}" method="Get">
                            <button class="header__nav-list-post header__nav-list-item--cursor">
                                <i class="fa-regular fa-add header__nav-post-icon"></i>
                                <span>Create</span>
                            </button>
                        </form>

                        <li class="header__nav-list-bell header__nav-list-item--cursor">

                            <i class="header__nav-icon fa-regular fa-bell"></i>
                        </li>
                        <li class="header__nav-list-account" th:if="${userIn}">
                            <img src="./img/F.png" class="header__account-avatar header__nav-list-account header__nav-icon" alt="">
                            <ul class="header__account-list header__nav-list-item--cursor">
                                <Form th:action="@{/User}" th:object="${UserDto}" method="get">
                                    <li class="header__account-list-item">
                                        <input type="hidden" name="u" th:value="${UserDto.usernumber}">
                                        <i class="fa-regular fa-user header__account-icon"></i>
                                        <button class="header__account-item-link">View Profile</button>
                                    </li>
                                </Form>
                                <li class="header__account-list-item">
                                    <i class="fa-regular fa-star header__account-icon"></i>
                                    <button class="header__account-item-link" type="button">Membership Account</button>
                                </li>
                                <form th:action="@{/Setting}" method="Get">
                                    <li class="header__account-list-item">
                                        <i class="fa-solid fa-gear header__account-icon"></i>
                                        <button class="header__account-item-link" >Settings</button>
                                    </li>
                                </form>
                                <li class="header__account-list-item">
                                    <i class="fa-regular fa-face-grin-stars header__account-icon"></i>
                                    <button class="header__account-item-link" type="button">Premium</button>
                                </li>
                                <form action="#" th:action="@{/logout}" method="POST">
                                    <li class="header__account-list-item">

                                        <i class="fa-solid fa-right-from-bracket header__account-icon"></i>
                                        <button class="header__account-item-link" >Log Out</button>

                                    </li>
                                </form>
                            </ul>
                        </li>

                        <li class="header__nav-button-list" th:unless="${userIn}">
                            <div class="header__nav-button-login">
                                <a th:href="@{https://forumlanguage.onrender.com/Login}" class="header__nav-button-login-title">Login</a>
                            </div>
                            <div class="header__nav-button-resign">
                                <a th:href="@{https://forumlanguage.onrender.com/Register}" class="header__nav-button-resign-title">Register</a>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="grid__row-2">

            </div>
            <div class="grid__row-8">
                <div class="container__setting">
                    <div class="container__setting-list">
                        <div class="container__setting-header">
                            <span class="container__setting-title">Setting</span>
                        </div>
                        <div class="container__setting-select">
                            <span class="container__setting-select-item container__setting-select-item--choose">Account</span>
                            <!--   <span class="container__setting-select-item">Profile</span>
                                <span class="container__setting-select-item">Setting3</span>
                                <span class="container__setting-select-item">Setting4</span>
                                <span class="container__setting-select-item">Setting5</span>
                                -->
                        </div>
                        <div class="container__setting-choose">
                            <span class="container__setting-choose-title">Account Setting</span>
                        </div>
                        <form th:action="@{/save_setting}" th:object="${usersDto}" method="post">
                        <div class="container__setting-item">
                            <div class="container__setting-item-title">
                                <div  class="container__setting-show">
                                    <span class="container__setting-header">Email Address</span>
                                    <span th:field="*{email}" th:Text="${usersDto.getEmail}" class="container__setting-name"></span>
                                </div>
                                <!-- <div class="container__setting-change">
                                      <span class="container__setting-change-title">Change</span>
                                  </div>
                                  -->
                            </div>
                        </div>

                        <div class="container__setting-item">
                            <div class="container__setting-item-title">
                                <div  class="container__setting-show">
                                    <span class="container__setting-header">Gender</span>
                                    <span class="container__setting-name">This information may be used to improve your recommendations</span>
                                </div>
                                <div class="container__setting-change">
                                    <select  th:field="*{sex}" class="container__setting-change-title" >
                                        <option value="${usersDto.getSex}" th:Text="${usersDto.getSex}"></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option><option value="Non Female">non Female</option>
                                    </select>
                                    <!-- <span class="container__setting-change-title">Change</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="container__setting-item">
                            <div class="container__setting-item-title">
                                <div  class="container__setting-show">
                                    <span class="container__setting-header">Display language</span>
                                    <span class="container__setting-name">Select the language you'd like to experience the Forum interface in</span>
                                </div>
                                <div class="container__setting-change">
                                    <select  th:field="*{language}" class="container__setting-change-title" >
                                        <option value="${usersDto.getLanguage}" th:Text="${usersDto.getLanguage}" ></option>
                                        <option value="English">English</option>
                                        <option value="China">China</option>
                                        <option value="Japan">Japan</option>
                                    </select>
                                    <!--   <span class="container__setting-change-title">Change</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="container__setting-item">
                            <div class="container__setting-item-title">
                                <div  class="container__setting-show">
                                    <span class="container__setting-header">Deleted Account</span>
                                    <span class="container__setting-name">!!!</span>
                                </div>
                                <div class="container__setting-change">
                                    <span class="container__setting-change-title important "id="openDeleteModal">Deleted Account</span>
                                </div>
                            </div>
                        </div>

                <div class="container__setting-save">
                    <button class="container__setting-save-button container__setting-change-title">Save</button>
                </div>
                        </form>
                </div>
                </div>
            </div>
            <div class="grid__row-2">

            </div>
        </div>
    </div>
</div>
<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are you sure you want to delete your account?</p>
        <form th:action="@{/delete}" method="get">
        <button id="deleteAccountButton" class="container__setting-save-button container__setting-change-title">Delete Account</button>
        </form>
    </div>
</div>
</body>
<script >

var modal = document.getElementById("confirmDeleteModal");


var openDeleteModalButton = document.getElementById("openDeleteModal");


var span = document.getElementsByClassName("close")[0];


openDeleteModalButton.onclick = function() {
modal.style.display = "block";
}


span.onclick = function() {
modal.style.display = "none";
}

window.onclick = function(event) {
if (event.target == modal) {
modal.style.display = "none";
}
}
</script>
</html>